__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
images
images/
test.py
nosetests.xml
coverage.xml
*.cover
*.log
.git
protocols
protocols/
.mypy_cache
.pytest_cache
.hypothesis